ENV=development
LOG_LEVEL=debug
LOG_JSON_OUTPUT=true
PORT=8085

# Authentication configuration
AUTH_SECRET=<AUTH_SECRET>
AUTH_EXPIRE=6
AUTH_REFRESH_EXPIRE_DELTA=1
AUTH_ISSUER=curtz

DATABASE_HOST=localhost
DATABASE=curtzdb
DATABASE_USERNAME=curtzUser
DATABASE_PASSWORD=curtzPassword
DATABASE_PORT=27017
DATABASE_USES_SRV=true

SENTRY_DSN=""
SENTRY_ENV=development
SENTRY_SAMPLE_RATE=0.1
SENTRY_ENABLED=true

LOG_LEVEL="info"
LOG_FORMAT="json"
LOG_DEVELOPMENT_MODE=true
LOG_ENABLE_CALLER=true
LOG_ENABLE_STACK_TRACE=false

# METRICS
METRICS_ADDRESS=":5555"
METRICS_ENABLED=false

REDIS_ADDRESS=localhost
REDIS_HOST=localhost
REDIS_USERNAME=curtz-svc
REDIS_PASSWORD=curtz-svc
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_MASTER_NAME=curtz-cache